{% extends "./base.html" %}
{% load static %}
{% block title %}Snoffle{% endblock %}

{% block mainbody %}

<!-- End Navbar -->
<div class="text-center pt-5">
    <p class="text-light fs-2 mt-4 fw-light w-50 mx-auto">A <span style="color: blue;">Leading </span> Website Designing Company</p>
    <p class="text-light fs-5 fw-light w-50 mx-auto">Snoffle is a renowned website designing company in Jaipur providing specialized services in website designing, website development, mobile application development for Android and IOS, graphics designing, seo services, branding, Digital marketing and much more.</p>
</div>
<div class="text-center my-5">
    <img src="{% static '/hand.webp' %}" alt="">
    <p class="w-50 mx-auto pb-5" style="font-weight: 400;
    font-family: Means Web,Georgia,Times,Times New Roman,serif;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
    font-size: 2.5rem;
    line-height: 1;
    color: whitesmoke;
    letter-spacing: -.03125rem;">With Snoffle, you can create and publish a stunning website in under an hour.</p>
</div>
{% endblock %}
