{% extends "./base.html" %}
{% load static %}
{% block title %}Snoffle{% endblock %}
{% block mainbody %}
<!-- End Navbar -->
<!-- Body Start -->
<link rel="stylesheet" href="static/style.css">
<div class="text-center mt-5">
    <p class="fs-1 fw-light">Our Services</p>
</div>
<div class=" mb-5 pb-5">
    <section class="cards row justify-content-center m-0">
      <!-- Card 1 -->
        <article class="card col-lg-3 col-md-5 card--1 m-4 p-0 ">
          <div class="card__img"></div>
          <a href="#" class="card_link bg-dark">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title"><a href="service.html">Web Develpoment</a></h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>
         <!-- Card 2 -->
        <article class="card  col-lg-3 col-md-5 card--2 m-4 p-0">
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title">Web Develpoment</h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>        
         <!-- Card 3 -->
        <article class="card col-md-5 col-lg-3 card--2 m-4 p-0">
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title">Web Develpoment</h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>        
         <!-- Card 4 -->
        <article class="card col-md-5 col-lg-3 card--2 m-4 p-0">
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title">Web Develpoment</h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>        
         <!-- Card 5 -->
        <article class="card col-md-5 col-lg-3 card--2 m-4 p-0">
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title">Web Develpoment</h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>        
         <!-- Card 6 -->
        <article class="card col-md-5 col-lg-3 card--2 m-4 p-0">
          <div class="card__img"></div>
          <a href="#" class="card_link">
             <div class="card__img--hover"></div>
           </a>
          <div class="card__info">
            <span class="card__category">Internship</span>
            <h3 class="card__title">Web Develpoment</h3>
            <a href="service.html"><button class="btn btn-outline-dark w-100">Apply</button></a>
          </div>
        </article>        
    </section>
</div>
<!-- End Body -->
{% endblock %}
